body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: Inter, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--tg-theme-text-color, rgba(255, 255, 255, 0.87));
  background-color: var(--tg-theme-bg-color, #242424);
}

h2 {
  font-size: max(1em, 0.3em + 1.5cqi);
  line-height: 1.1;
  margin: 0;
}

p {
  font-size: max(0.8em, 0.3em + 1cqi);
  margin-bottom: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--tg-theme-button-color, #1a1a1a);
  color: var(--tg-theme-button-text-color, #ffffff);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.switch-button-container {
  display: flex;
  align-self: flex-end;
  margin: 10px;
  gap: 30px;
  align-items: center;
}

.zodiac-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 100%;
  height: 90vh;
  padding: 10px;
  box-sizing: border-box;
  container-type: inline-size;
}

.zodiac-item {
  border: 1px solid white;
  border-radius: 8px;
  padding: 0.1em 1.2em;
  cursor: pointer;
  transition: border-color 0.25s;
  box-sizing: border-box;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.zodiac-item:hover {
  border-color: #646cff;
}

.zodiac-detail {
  border: 1px solid white;
  border-radius: 8px;
  padding: 1em 2em;
  box-sizing: border-box;
  text-align: center;
  max-width: 600px;
}

.horoscope-text {
  margin-bottom: 40px;
}

@media (hover: none) {
  button:hover {
    border-color: transparent;
  }
  .zodiac-item:hover {
    border-color: white;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  h2 {
    font-size: max(1em, 0.5em + 2cqi);
  }
  p {
    font-size: max(0.8em, 0.5em + 1.5cqi);
  }
}

@media (max-width: 768px) {
  h2 {
    font-size: max(1em, 0.5em + 1.5cqi);
  }
  p {
    font-size: max(0.8em, 0.5em + 1cqi);
  }
  .zodiac-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .zodiac-detail {
    margin: 50px;
  }
}

@media (max-width: 425px) {
  .zodiac-detail {
    margin: 20px;
  }
  .horoscope-text {
    margin-bottom: 20px;
  }
}
